In [8]:
#create a table
import sqlite3
#create a connection
conn = sqlite3.connect('customer.db')
#create a cursor()
c = conn.cursor()

#create table
c.execute("CREATE TABLE info (first_name text, last_name text, email text)")

#commit our code
conn.commit()
#close our connection
conn.close()

In [13]:
#multiple values (Insert a values)
import sqlite3
#create a connection
conn = sqlite3.connect('customer.db')
c = conn.cursor()
many_customers = [
                    ('varsha','gs', 'varsha@mail'),
                    ('anu','gs','anu@mail'),
                    ('dam','black','dam@mail'),
                    ('bruice','kevin', 'bruice@mail'),
                     ('antony','doss', 'doss@mail')
                 ]
c.executemany('INSERT INTO info VALUES (?,?,?)',many_customers)

print("Command executed sucessfully.........")
conn.commit()
conn.close()

Command executed sucessfully.........

In [19]:

#query - Formating a data 
import sqlite3
#create a connection
conn = sqlite3.connect('customer.db')
c = conn.cursor()
c.execute("SELECT * FROM info")
print(c.fetchall())
conn.commit()
conn.close()

[('varsha', 'gs', 'varsha@mail'), ('anu', 'gs', 'anu@mail'), ('dam', 'black', 'dam@mail'), ('varsha', 'gs', 'varsha@mail'), ('anu', 'gs', 'anu@mail'), ('dam', 'black', 'dam@mail'), ('bruice', 'kevin', 'bruice@mail'), ('antony', 'doss', 'doss@mail')]

In [20]:
#2nd way 
import sqlite3
#create a connection
conn = sqlite3.connect('customer.db')
c = conn.cursor()
c.execute("SELECT * FROM info")
item = c.fetchall()
print(item)
conn.commit()
conn.close()

[('varsha', 'gs', 'varsha@mail'), ('anu', 'gs', 'anu@mail'), ('dam', 'black', 'dam@mail'), ('varsha', 'gs', 'varsha@mail'), ('anu', 'gs', 'anu@mail'), ('dam', 'black', 'dam@mail'), ('bruice', 'kevin', 'bruice@mail'), ('antony', 'doss', 'doss@mail')]

In [33]:
#3rd way
import sqlite3
conn = sqlite3.connect('customer.db')
c = conn.cursor()
c.execute("SELECT * FROM info")
item = c.fetchall()
for item in item:
    print(item)
    #print(item[0])
    #print(item[0] + "." + item[1] +  "  -  "  + item[2])
conn.commit()
conn.close()

('varsha', 'gs', 'varsha@mail')
('anu', 'gs', 'anu@mail')
('dam', 'black', 'dam@mail')
('varsha', 'gs', 'varsha@mail')
('anu', 'gs', 'anu@mail')
('dam', 'black', 'dam@mail')
('bruice', 'kevin', 'bruice@mail')
('antony', 'doss', 'doss@mail')

In [12]:
#format your results:
import sqlite3
#create a connection
conn = sqlite3.connect('customer.db')
c = conn.cursor()
c.execute("SELECT * FROM info")
print(c.fetchone())
conn.commit()
conn.close()

('varsha', 'gs', 'varsha@mail')

In [15]:
#first 3 result:

import sqlite3
#create a connection
conn = sqlite3.connect('customer.db')
c = conn.cursor()
c.execute("SELECT * FROM info")
print(c.fetchmany(3))
conn.commit()
conn.close()

[('varsha', 'gs', 'varsha@mail'), ('anu', 'gs', 'anu@mail'), ('dam', 'black', 'dam@mail')]

In [43]:
import sqlite3
conn = sqlite3.connect('customer.db')
c = conn.cursor()
c.execute("SELECT * FROM info")
item = c.fetchall()
print("NAME" + "\t\t EMAIL")
print("------" + "\t\t------")
for item in item:
    print(item[0] + "." + item[1]+     "   \t"+ item[2])
conn.commit()
conn.close()

NAME		 EMAIL
------		------
varsha.gs   	varsha@mail
anu.gs   	anu@mail
dam.black   	dam@mail
varsha.gs   	varsha@mail
anu.gs   	anu@mail
dam.black   	dam@mail
bruice.kevin   	bruice@mail
antony.doss   	doss@mail

In [46]:
#primary ID
import sqlite3
#create a connection
conn = sqlite3.connect('customer.db')
c = conn.cursor()
c.execute("SELECT rowid, * FROM info")
item = c.fetchall()
for item in item:
    print(item)
conn.commit()
conn.close()

(1, 'varsha', 'gs', 'varsha@mail')
(2, 'anu', 'gs', 'anu@mail')
(3, 'dam', 'black', 'dam@mail')
(4, 'varsha', 'gs', 'varsha@mail')
(5, 'anu', 'gs', 'anu@mail')
(6, 'dam', 'black', 'dam@mail')
(7, 'bruice', 'kevin', 'bruice@mail')
(8, 'antony', 'doss', 'doss@mail')

In [64]:
#where
conn = sqlite3.connect('customer.db')
c = conn.cursor()
#c.execute("SELECT * FROM info Where last_name LIKE 'gs' ")
#c.execute("SELECT * FROM info Where email LIKE 'anu%' ")
c.execute("SELECT * FROM info Where email LIKE '%@mail' ")
item = c.fetchall()
for item in item:
    print(item)
conn.commit()
conn.close()

('varsha', 'gs', 'varsha@mail')
('anu', 'gs', 'anu@mail')
('dam', 'black', 'dam@mail')
('varsha', 'gs', 'varsha@mail')
('anu', 'gs', 'anu@mail')
('dam', 'black', 'dam@mail')
('bruice', 'kevin', 'bruice@mail')
('antony', 'doss', 'doss@mail')

In [65]:
import sqlite3
#create a connection
conn = sqlite3.connect('customer.db')
c = conn.cursor()
c.execute("SELECT rowid, * FROM info Where 3 >= rowid")
item = c.fetchall()
for item in item:
    print(item)
conn.commit()
conn.close()

(1, 'varsha', 'gs', 'varsha@mail')
(2, 'anu', 'gs', 'anu@mail')
(3, 'dam', 'black', 'dam@mail')